
#about {
    background-color: blue;
}

.about {
    background-color: aliceblue;
}

.myInfo {
    font-family: sans-serif;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
